	<meta charset="UTF-8">
	<meta name="author" content="Benjamin">
	<meta name="description" content="Upcoming tech support revolution.">
	<meta name="keywords" content="technology, support, berkeley, cheap, new, computer">
	<link rel="stylesheet" href="/tech/resources/css/reset.css" type="text/css"></head>
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Raleway:100' type='text/css'>
	<link rel="stylesheet" href="/tech/resources/css/tech.css" type="text/css">
	<link rel="stylesheet" href="/tech/resources/css/overlay.css" type="text/css">
	<link rel="shortcut icon" href="/tech/resources/img/favicon.ico" type="image/vnd.microsoft.icon">
